{% extends 'admin.html.twig' %}

{% block title %}employeur!{% endblock %}

{% block body %} 
   <div class="container">  
          <fieldset>
               {{ form(form) }}
          </fieldset>
   </div>
        
{% endblock %}
